# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

- Python
- R
- Scala

# Some of the commonly used libraries used by Data Scientists include:

- TensorFlow
- pandas
- Scikit Learn

| Data Science Tools |
|---|
|Watson Studio|
|R studio|
|Jupyter NoteBook|

### Below are a few examples of evaluating arithmetic expressions in Python

- addition
- substraction
- Multiplication
- Division

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
sum = (3*4)+5

print("The sum is: ", sum)

In [ ]:
# This will convert 200 minutes to hours by diving by 60

hours=200/60
print("Hours: ", hours)

## Objectives:
### - List popular languages for Data Science
### - List popular tools for Data Science
### - List popular libraries for Data Science

## Author
Junaid Ali